.git/
.hf_cache/
**/.hf_cache/
**/models--*
**/datasets--*
miniconda3/
Miniconda3/
venv/
.venv/
F5-TTS/
parler_dataset/
parler_dataset_precomputed/
svaram_outputs/
expresso_tests/
expresso_intense_laughs/
outputs/
__pycache__/
*.wav
*.mp3
*.log
